.info-button {
    width: 100%;
    position: absolute;
    display: block;
    text-align: right;
}

.big-circle-button {
    //display:block;
    margin-top: 24px;
    margin-right: 24px;
    background-color: black;
    font-size: 36px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
  }




.upper-half {
    height: 50%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.upper-semi-circle {
    height:600px;
    width: 600px;
    background: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-bottom: -300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.time-title {
    color: black;
    font-size: 36px;
    margin-top: 100px;
}

img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-right: 10px;
}


.time {
    margin-top: 30px;
    color: black;
    font-size: 72px;
}



.lower-half {
    height: 50%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}


.lower-semi-circle {
    height:600px;
    width: 600px;
    background: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: -300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.spaze {
    color: white;
    font-size: 72px;
    margin-bottom: 30px;
}

.spaze-title {
    color: white;
    font-size: 36px;
    margin-bottom: 100px;
}

