<div class="info-button">
    <a routerLink="/about">
        <button mat-raised-button class="big-circle-button">
         <div style="margin-left:-5px;">?</div>   
        </button>
    </a>
</div>

<div class="upper-half">
    <div class="upper-semi-circle">
        <div class="time-title">
            <img class="img-sun" src="/assets/sun.png">
            TIME
        </div>
        <div class="time">
            {{ solarTime | date: 'HH:mm:ss' : 'UTC' }}
        </div>
    </div>
</div>

<div class="lower-half">
        <div class="lower-semi-circle">
                <div class="spaze">
        {{ spazeSign }}{{spazeHours}}:{{spazeMinutes}}:{{spazeSeconds}}
    </div>
    <div class="spaze-title">
            <img class="img-world" src="/assets/world.png">
            PLACE
        </div>

</div>
</div>